@{
    ViewData["Title"] = "Kontakt";
}

<div class="container-lg">
    <h4>na rýchlo spravený formulár...</h4>
    <!-- itnetwork.cz MAILFORM -->
    <iframe frameborder="2" scrolling="no" width="500px" height="220px"
            src="https://www.itnetwork.cz/api/Service-MailForm/63d16dcab5c2f9.68065901">
    </iframe>
    <!-- itnetwork.cz MAILFORM END -->
</div>
