@{
    ViewData["Title"] = "Hlavna stranka";
}

<div class="container-lg">
    <h1>Final projekt</h1>
    <p>
        Projektu chýba relatívne veľa fukcií a tu je prehľad vecí, ktoré som z nedostatku času nestihol.
    </p>
    <ul>
        <li>Projekt je len v "základnej" verzii a pýtal by si oveľa viac času</li>
        <li><strong>Registrácia</strong> nie je doladená a nevytvorí sa automaticky prázdna entita užívateľa v db</li>
        <li>Validácia údajov pre registráciu je vypnutá a tlačidlo funguje len ako presmerovanie</li>
        <li>Tlačidlo <strong>Registrovať</strong> ťa pošle na stránku, kde si môžeš zahrať <strong>DOOM</strong>a!! :)</li>
        <li>Pri vytvorení nového užívateľa nie je zapojená kontrola dátumu národenia. Môže byť narodený v budúcnosti</li>
        <li>Nie je zapojená kontrola duplicitných klientov podľa údajov</li>
        <li>Nie je zapojená kontorla dátumov OD-DO pri vytvorení poistenia</li>
        <li>Pridanie poistenia je možné len cez <strong>DETAIL</strong> klienta</li>
        <li><strong>Prihlásenie: palpatine@galacticempire.sw   Heslo: ImTheOnlyOne..666</strong></li>   
    </ul>
    
</div>
